/* Main */

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 40vw;
	margin: 50px auto;
}

body {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	align-items: center;
	align-content: center;
}

/* Titles */

h1 {
	font-size: 80px;
	text-align: center;
}

/* Cards name */

.cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	/* justify-content: center; */
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid white;
	border-radius: 10px;

	padding: 20px;
	margin: 5px;

	background-color: rgb(28, 27, 27);
}

.current {
	background-color: green !important;
	animation: zoom 1s ease;
	opacity: 1 !important;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}

.invalid {
	background-color: rgb(80, 77, 77);
}

.highlight {
	background-color: rgb(207, 89, 89);
	animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

/* Buttons */

#choose,
#reset {
	border-radius: 50px;

	padding: 5px 10px;
	margin: 20px;
}

button:hover {
	opacity: 0.6;
}

/* Colours */

.mainBgColor {
	background-color: rgb(28, 27, 27);
}

.colorOnMainBg {
	color: white;
}

.colorOnSecondaryBg {
	color: white;
}

/* Media queries */

@media screen and (max-width: 768px) {
	h1 {
		font-size: 60px;
	}
	.cards {
		grid-template-columns: repeat(4, 1fr);
	}
	main {
		width: 50vw;
	}
}

@media screen and (max-width: 515px) {
	h1 {
		font-size: 40px;
	}
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}
	main {
		width: 50vw;
	}
}

@media screen and (max-width: 440px) {
	h1 {
		font-size: 30px;
	}
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
	main {
		width: 80vw;
	}
}
